body {
  background-image: url('/images/pattern.svg');
  overflow-x: hidden;
  overflow-y: scroll !important;

  &.modal-open {
    position: fixed;

    @include media-breakpoint-up(lg) {
      position: initial;
    }
  }
}

tbody tr th {
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  width: 30%;
}

strong {
  color: lighten($primary, 10%);
  font-weight: bolder;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

a {
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: rgba(map-get($theme-colors, 'primary'), 0.05);
  }
}
