body {
  background-image: url('/images/pattern.svg');
  overflow-x: hidden;
  overflow-y: scroll !important;
  min-height: 100vh;

  &.modal-open {
    position: fixed;

    @include media-breakpoint-up(lg) {
      position: initial;
    }
  }
}

textarea {
  font-family: $font-family-sans-serif;
}

#app {
	flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
}

tbody tr th {
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

strong {
  color: lighten($primary, 10%);
  font-weight: bolder;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

a {
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: rgba(map-get($theme-colors, 'primary'), 0.05);
  }
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /* IE10+ value color */
  color: $primary;

  border-radius: 5px;
  margin-bottom: .25rem;
  cursor: pointer;
}

/* Firefox */
progress[value]::-moz-progress-bar {
  background-image:
      -moz-linear-gradient(
          135deg,
          transparent 33%,
          rgba(0, 0, 0, 0.1) 33%,
          rgba(0, 0, 0, 0.1) 66%,
          transparent 66%
      ),
      -moz-linear-gradient(
          top,
          rgba(255, 255, 255, 0.25),
          rgba(0, 0, 0, 0.25)
      ),
      -moz-linear-gradient(
          left,
          lighten($primary, 50%),
          $primary 90%,
      );

  border-radius: 5px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* Chrome, Safari and Opera */
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* Chrome, Safari and Opera */
progress[value]::-webkit-progress-value {
  background-image:
      -webkit-linear-gradient(-45deg,
          transparent 33%, rgba(0, 0, 0, .1) 33%,
          rgba(0,0, 0, .1) 66%, transparent 66%),
      -webkit-linear-gradient(top,
          rgba(255, 255, 255, .25),
          rgba(0, 0, 0, .25)),
      -webkit-linear-gradient(
          left,
          lighten($primary, 50%),
          $primary 90%,
      );

  border-radius: 5px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
