
.audio-theme {
  position: fixed;
  right: 0;
  top: 0;
}

.nav-button { 
  font-family: 'Cloister';
  font-size: 1.5rem;

  img {
    height: 32px;
    width: auto;
    vertical-align: bottom;
  }
}

.nav-button-2 {
  display: block;
  a {
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      width: 4rem;
    }
  
    span {
      text-shadow: 2px 2px #000;
      color: $cdb-red;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-family: 'Cloister';
      font-size: 2rem;
    }
  }
}

.logo {
  height: 40vh;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.0);
}


.cdb-nav-item {
  display: inline-flex;
  flex-flow: column;

  img {
    width: 5rem;
    align-self: center;
  }

  span {
    color: white;
    font-family: 'Cloister';
    font-size: 3rem;
    line-height: 3rem;
  }
}

.header-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-blend-mode: saturation;
}