.merchandise-picture {
  height: 300px;
  width: auto;
  object-fit: cover;
}

#cart-items img {
  max-height: 5rem;
  max-width: 30%;
}

.cart-item {
  border-bottom: 2px solid rgba(211, 211, 211, 0.2);
}
