@use "sass:map";

.no-list-style {
  list-style-type: none;
}

.object-fit-cover {
  object-fit: cover;
}

.bg-cdbg-opaque {
  background-color: rgba(map.get($theme-colors, 'cdbg'), 0.8);
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.v-align-middle {
  vertical-align: middle;
}

.border-4 {
  border-width: 4px !important;
}

.hover-primary {
  transition: color ease-in .15s;
  cursor: pointer;

  &:hover {
    color: map-get($theme-colors, 'primary') !important;
  }
}

.whitespace-nowrap {
  white-space: nowrap;
}


@include media-breakpoint-up(lg) {
  // Bootstrap sticky top implementation on large breakpoint
  .lg-sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  .w-lg-auto {
    width: auto !important;
  }

  .bg-lg-cdbb {
    background-color: map-get($theme-colors, 'cdbb');
  }

  .position-lg-absolute {
    position: absolute;
  }

  .border-lg-0 {
    border: none !important;
  }
}

.h7 {
    font-size: $h7-font-size;
    font-family: $headings-font-family;
}

@include media-breakpoint-up(sm) {
  .h-sm-2 {
    font-size: $h2-font-size;
  }

  .h-sm-3 {
    font-size: $h3-font-size;
  }

  .h-sm-4 {
    font-size: $h4-font-size;
  }
}

@include media-breakpoint-up(md) {
  .h-md-4 {
    font-size: $h4-font-size;
  }
}
