$cdb-black: #0A0A08;
$cdb-red: #8D111B;
$cdb-gray: #B6BDC7;

// Bootstrap overrides
$dark: $cdb-black;
$primary: $cdb-red;
$theme-colors: (
  'cdbb': $cdb-black
);

$spacers: (
  '6': 6rem
);

$sizes: (
  'vw': 100vw,
  'vh': 100vh
);

$body-bg: $cdb-black;
$body-color: #f8f9fa; // Gray 100 in bootstrap

$font-family-sans-serif: 'Nunito', sans-serif;
$headings-font-family: 'Cloister';
