// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'base';
@import 'general';
@import 'header';
@import 'users';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Cloister';
  src: url('/fonts/cloister-black/CloisterBlack-Light.eot');
  src: local('Cloister Black Light'), local('CloisterBlack-Light'),
      url('/fonts/cloister-black/CloisterBlack-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/cloister-black/CloisterBlack-Light.woff2') format('woff2'),
      url('/fonts/cloister-black/CloisterBlack-Light.woff') format('woff'),
      url('/fonts/cloister-black/CloisterBlack-Light.ttf') format('truetype'),
      url('/fonts/cloister-black/CloisterBlack-Light.svg#CloisterBlack-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
