.audio-player {

    .js-audio-player {
        background: rgba(map-get($theme-colors, 'cdbb'), 0.5);
    }

    .alert {
        @include media-breakpoint-up(lg) {
            min-width: 400px;
        }
    }

    &__play {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 2.5rem;
        }
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        right: 0;
        top: 100%;

        .alert {
            top: 90px;
        }
    }

    @media screen and (min-width: 1450px) {
        position: relative;
        background: map-get($theme-colors, 'cdbb');
    }

    progress[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        /* Get rid of default border in Firefox. */
        border: none;

        /* IE10+ value color */
        color: $primary;

        border-radius: 5px;
        margin-bottom: .25rem;
    }

    /* Firefox */
    progress[value]::-moz-progress-bar {
        background-image:
            -moz-linear-gradient(
                135deg,
                transparent 33%,
                rgba(0, 0, 0, 0.1) 33%,
                rgba(0, 0, 0, 0.1) 66%,
                transparent 66%
            ),
            -moz-linear-gradient(
                top,
                rgba(255, 255, 255, 0.25),
                rgba(0, 0, 0, 0.25)
            ),
            -moz-linear-gradient(
                left,
                lighten($primary, 50%),
                $primary 90%,
            );

        border-radius: 5px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }

    /* Chrome, Safari and Opera */
    progress[value]::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    /* Chrome, Safari and Opera */
    progress[value]::-webkit-progress-value {
        background-image:
            -webkit-linear-gradient(-45deg,
                transparent 33%, rgba(0, 0, 0, .1) 33%,
                rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top,
                rgba(255, 255, 255, .25),
                rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(
                left,
                lighten($primary, 50%),
                $primary 90%,
            );

        border-radius: 5px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }
}
