.audio-player {

  .js-render {
    width: 150px;
  }

  progress {
    width: 130px;
  }

  @include media-breakpoint-up(sm) {
    .js-render {
      width: auto;
    }

    progress {
      width: auto;
    }
  }

    .js-audio-player {
        background: rgba(map-get($theme-colors, 'cdbb'), 0.5);
    }

    .alert {
        @include media-breakpoint-up(lg) {
            min-width: 400px;
        }
    }

    &__play {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
            font-size: 2.5rem;
        }
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        right: 0;
        top: 100%;

        .alert {
            top: 90px;
        }
    }

    @media screen and (min-width: 1450px) {
        position: relative;
        background: map-get($theme-colors, 'cdbb');
    }
}
