.cdb-nav-item {
  &__icon {
    border: 4px solid $cdb-gray;
    border-radius: 50%;
    transition: background ease-in-out .2s, transform ease-in-out .2s;
    background-color: $cdb-black;
    transform: translateX(1.3rem);
    min-width: 80px;

    img {
      max-height: 2.5rem;
      width: 2.5rem;
    }
  }

  
  &__inner {
    color: $cdb-gray;
    background-color: $cdb-black;
    padding: 0 1rem 0 3rem;
    border: 4px solid $cdb-gray;
    border-radius: 0 10px 10px 0;
    border-left: none;
    transition: background ease-in-out .2s, color ease-in-out .2s;
    font-size: 1.5rem;
  }
  
  &:hover {
    .cdb-nav-item__icon {
      background-color: $gray-900;
      transform: translateX(1.3rem) scale(1.2);
    }
    
    .cdb-nav-item__inner {
      background-color: $gray-900;
    }
  }
  
  &--right {
    .cdb-nav-item__icon {
      transform: translateX(-1.3rem);
    }

    .cdb-nav-item__inner {
      padding: 0 3rem 0 1rem;
      border-radius: 10px 0 0 10px;
      border-left: 4px solid $cdb-gray;
      border-right: none;
    }
  }

  @include media-breakpoint-up(md) {
    &__icon img {
      max-height: 4rem;
      width: 4rem;
    }

    &__inner {
      font-size: 2.5rem;
    }
  }

  @media screen and(min-width: 1440px) {
    &__icon img {
      max-height: 6rem;
      width: 6rem;
    }
  }
}
