.image-upload {
  background-size: cover;
  background-position: center;
  min-height: 350px;

  .input-wrapper, i {
    z-index: 5;
    cursor: pointer;
  }

  .image-upload__remove-icon {
    z-index: 5;
    cursor: pointer;
  }

  &.is-invalid {
    border: 2px solid $danger;
  }
}
