
.latest-images {
  display: grid;
  gap: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media-breakpoint-up(lg) {
    gap: 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 900px;


    &__title {
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 1;
    }

    &__1 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 7;
      z-index: 2;
    }

    &__2 {
      grid-column-start: 3;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 5;
      z-index: 3;
    }

    &__3 {
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 6;
      grid-row-end: 9;
      z-index: 1;
    }
  }
}
