.navigation {
  &__logo {
    img {
      height: 3rem;
      width: auto;
      display: inline-block;
    }
  }

  .nav-link {
    padding-top: .8rem;
    padding-bottom: 0;
    color: map-get($theme-colors, 'cdblg');
  }

  @include media-breakpoint-up(lg) {
    .nav-item {
        display: inline-block;
    }
  }
}

.navigation-toggler {
    // Override bootstrap
    border: none !important;
    background: transparent !important;
    outline: none !important;

    // Transform as x sign
    &__bar {
        width: 22px;
        transition: transform .2s, opacity .2s;
        display: block;
        background: map-get($theme-colors, 'cdblg');
        height: 3px;

        // Top bar
        &:nth-child(1) {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
            margin-bottom: 0;
        }

        // Middle bar
        &:nth-child(2) {
            opacity: 0;
        }

        // Bottom bar
        &:nth-child(3) {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
            margin-top: 6px;
        }
    }

    // Transform as 3 bars
    &.collapsed {
        // Top bar
        .navigation-toggler__bar:nth-child(1) {
            transform: rotate(0);
            margin-bottom: 6px;
        }

        // Middle bar
        .navigation-toggler__bar:nth-child(2) {
            opacity: 1;
        }

        // Bottom bar
        .navigation-toggler__bar:nth-child(3) {
            transform: rotate(0);
        }
    }
}

.brand-text {
    font-size: 2rem;

    &__z {
        font-size: 1.4rem;
    }
}
