@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.wheel-btn {
  background: transparent;

  &:hover {
    .wheel-btn__wheel {
      animation: spin .5s infinite linear;
    }

    .wheel-btn__text {
      background-color: $gray-900;
    }
  }

  &__text {
    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
    }
  }

  &__wheel {
    z-index: 1;
    height: 4rem;
    width: 4rem;
    background: $cdb-black;
    border-radius: 50%;
    border: 4px solid $cdb-gray;

    @include media-breakpoint-up(lg) {
      width: 5rem;
      height: 5rem;
    }
  }

  &__wheel--left {
    margin-right: -2.7rem;
  }

  &__wheel--right {
    margin-left: -2.7rem;
  }

  &__text {
    border: 4px solid $cdb-gray;
    padding: 0 3rem;
    background: $cdb-black;
    transition: 0.2s ease-in-out background;
    color: $cdb-gray;
  }
}
